<header class="header">
    <h1 class="header-heading">
        <a href="{% url 'contact:index' %}" class="header-link">
            Agenda
        </a>
    </h1>

    <nav class="menu">
        <ul class="menu-list">
            <li class="menu-item">
                <a href="{% url 'contact:create' %}" class="menu-link">
                    Create contact
                </a>
            </li>

            <li class="menu-item">
                <a href="" class="menu-link">
                    link 2
                </a>
            </li>

        </ul>
    </nav>

    <div class="search">
        <form action="{% url 'contact:search' %}" method="GET">
            <input 
            type="text" 
            class="search-input" 
            placeholder="Search"
            id="search"
            name="q"
            value="{{ request.GET.q.strip }}"
            >
        </form>
    </div>
</header>